{{#if componentName}}
	<h2 class="catHeading catHeading--2">
        {{../componentName}}
	</h2>
{{/if}}
<div class="catParagraph catTabs">
    {{#each cases}}
		<a class="catTabs-item {{#if this.isActive}}is-active{{/if}}" href="/{{this.viewMode}}/{{../componentName}}/{{this.name}}">{{this.name}}</a>
    {{/each}}
</div>
<div class="catDivider"></div>
<div class="catParagraph">
	<div class="catHeading catHeading--3 catParagraph">{{currentCase.description}}</div>
	<div class="catParagraph">
		<div class="catTest" style="{{currentCase.styles}}">
            {{#if currentCase.data}}
				<cat-test-case-{{../componentName}}
					id="js-test-case-{{../componentName}}"
                {{#each currentCase.attributes}}
                    {{@key}}="{{this}}"
                {{/each}}
				test-case-name="{{currentCase.name}}"
				test-case-component="{{../componentName}}">

				</cat-test-case-{{../componentName}}>
            {{else}}
				<cat-{{../componentName}}
					id="js-test-case-{{../componentName}}"
                {{#each currentCase.attributes}}
                    {{@key}}="{{this}}"
                {{/each}}
                {{#if currentCase.store}}cat-store="{{currentCase.store}}"{{/if}}>

				</cat-{{../componentName}}>
            {{/if}}
		</div>
	</div>
    {{#unless isGalleryViewMode}}
		<div class="catParagraph">
			<pre class="catBlockCode"><code class="catCode js-highlight html">&lt;cat-{{../componentName}} id="js-cat-{{../componentName}}"{{#each ../currentCase.attributes}} {{@key}}="{{this}}"{{/each}}{{#if ../currentCase.store}} cat-store="{{../currentCase.store}}"{{/if}}&gt;&lt;/cat-{{../componentName}}&gt;</code><span class="catBlockCode-title">markup</span></pre>
		</div>
		<div class="catParagraph">
			<pre class="catBlockCode"><code class="catCode js-highlight json">{{../currentCase.string}}</code><span class="catBlockCode-title">test case</span></pre>
		</div>
    {{/unless}}
</div>