<style>
    .test-case {
        background: #eee;
        padding: 20px;
    }
    .test-case__title {
        color: #333;
        font: 13px verdana;
        padding-bottom: 10px;
    }
    .test-case__content {

    }
    .test-case__case {
        display: inline-block;
        vertical-align: top;
        background: #fff;
    }
</style>
{{#each cases}}
	<div class="test-case">
        <div class="test-case__title">{{this.description}}</div>
        <div class="test-case__content">
            <div class="test-case__case" style="{{this.styles}}">
                {{#if this.store}}
					<cat-{{../componentName}} id="js-test-case-{{../componentName}}-{{@index}}" cat-store="{{this.store}}"></cat-{{../componentName}}>
                {{/if}}
                {{#if this.data}}
					<cat-test-case-{{../componentName}} id="js-test-case-{{../componentName}}-{{@index}}" test-case-index="{{@index}}"></cat-test-case-{{../componentName}}>
                {{/if}}
			</div>
		</div>
	</div>
{{/each}}