{{#if componentName}}
	<h2 class="catHeading catHeading--2">
        {{../componentName}}
	</h2>
{{/if}}
{{#each cases}}
	{{#if this.visible}}
		<div class="catDivider"></div>
		<div class="catParagraph">
			<div class="catHeading catHeading--3 catParagraph">{{this.description}}</div>
			<div class="catParagraph">
				<div class="catTest" style="{{this.styles}}">
                    {{#if this.data}}
						<cat-test-case-{{../../../componentName}}
							id="js-test-case-{{../../../componentName}}-{{@index}}"
                        {{#each this.attributes}}
                            {{@key}}="{{this}}"
                        {{/each}}
						test-case-name="{{../../../componentName}}"
						test-case-index="{{@index}}">

						</cat-test-case-{{../../../componentName}}>
                    {{else}}
						<cat-{{../../../componentName}}
							id="js-test-case-{{../../../componentName}}-{{@index}}"
                        {{#each this.attributes}}
                            {{@key}}="{{this}}"
                        {{/each}}
                        {{#if this.store}}cat-store="{{this.store}}"{{/if}}>

						</cat-{{../../../componentName}}>
                    {{/if}}
				</div>
			</div>
            {{#unless ../../isGalleryViewMode}}
				<div class="catParagraph">
					<pre class="catBlockCode"><code class="catCode html">&lt;cat-{{../../../componentName}} id="js-cat-{{../../../componentName}}"{{#each this.attributes}} {{@key}}="{{this}}"{{/each}}{{#if this.store}} cat-store="{{this.store}}"{{/if}}&gt;&lt;/cat-{{../../../componentName}}&gt;</code><span class="catBlockCode-title">markup</span></pre>
				</div>
				<div class="catParagraph">
					<pre class="catBlockCode"><code class="catCode json">{{this.string}}</code><span class="catBlockCode-title">test case</span></pre>
				</div>
            {{/unless}}
		</div>
	{{/if}}
{{/each}}